@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply antialiased;
  }

  body {
    @apply bg-white dark:bg-gray-950 text-gray-900 dark:text-gray-100;
  }

  a {
    @apply text-inherit no-underline;
  }

  * {
    @apply box-border;
  }
}

#__next {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  min-width: 300px;
}
