.root {
  display: flex;
}

.drawer {
  flex-shrink: 0;
  white-space: nowrap;
}

.drawerPaper {
  width: 280px;
}

.toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
}
