version: "3.8"

services:
  app:
    image: hongjsx/horpakjs:latest
    ports:
      - 3000:3000
    environment:
      NODE_ENV: development
      MONGO_URI: mongodb://localhost:27017/admin?retryWrites=true&w=majority
      DB_NAME: cplace-cluster
      TOKEN_SECRET: SECRET
      TOKEN_EXPIRES_IN: 7d
      GOOGLE_ID: SECRET.apps.googleusercontent.com
      GOOGLE_SECRET: SECRET
      GOOGLE_REDIRECT_URI: http://localhost:3000/auth/spreadsheet/callback
      FIREBASE_SERVICE_ACCOUNT_KEY: '{"project_id":"horpak-auth"}'
      NEXTAUTH_URL: http://localhost:3000/
      NEXTAUTH_SECRET: SECRET
      BASE_URL: http://localhost:3000
      SECRET: SECRET
