.root {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  width: 100%;
}
.paper {
  padding: 32px;
  text-align: center;
  max-width: 800px;
}
.textField {
  width: 100%;
}

/* MD, LG, XL */
@media (min-width: 900px) {
  .button {
    width: 200px;
  }
}

/* XS, SM */
@media (max-width: 899px) {
  .button {
    width: 130px;
  }
}
