.root {
  flex-grow: 1;
}

.formControl {
  margin: 4px;
  min-width: 120px;
  vertical-align: bottom;
}

.refreshButton {
  margin: 4px;
  min-width: 50px;
  vertical-align: bottom;
  text-align: center;
}

.selectEmpty {
  margin-top: 8px;
}

.paper {
  padding: 8px;
  text-align: left;
  color: red;
}
