.root {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: flex-start;
  text-align: center;
}

.paper {
  padding: 16px;
  max-width: 900px;
}

.list {
  margin: 8px 8px 32px 8px;
}

.error {
  color: red;
  text-align: left;
}

.text {
  overflow: hidden;
  white-space: nowrap;
}

/* MD, LG, XL */
@media (min-width: 900px) {
  .selectSheet {
    width: 170px;
  }
}

/* XS, SM */
@media (max-width: 899px) {
  .selectSheet {
    width: 120px;
  }
}
