.root {
  width: 100%;
  height: 100%;
  position: relative;
}

/* MD, LG, XL */
@media (min-width: 900px) {
  .fab {
    position: absolute;
    bottom: 128px;
    right: 64px;
  }
}

/* XS, SM */
@media (max-width: 899px) {
  .fab {
    position: absolute;
    bottom: 32px;
    right: 16px;
  }
}

.fabIcon {
  color: white;
}
